h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5 rem;
}

p {
  color: #8f8f8f;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container-fluid {
  /* padding: top left/right bottom */
  padding: 3% 15% 7%;
}

#title {
  background-color: #ff4c68;
  color: #ffffff;
}

/* Navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 25%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* Features section */
#features {
  /* padding: left/right top/bottom */
  padding: 7% 15%;
  background: white;
  position: relative;
}

.features-icons {
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-icons:hover {
  color: #ff4c68;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

/* Testimonials */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #ffffff;
}

.testimonial-image {
  width: 10%;
  margin: 20px;
  border-radius: 100%;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-table {
  padding: 3% 2%;
}

.card-footer {
  background: transparent;
  border-top: 0px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    width: 50%;
  }
}

/* Call for Action */
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 3% 15% 7%;
}

.cta-header {
  font-family: Montserrat;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: #ffff;
  margin-bottom: 50px;
}

.cta-button {
  margin: 3% 1%;
}

/* Footer */
#footer {
  background-color: #fff;
  text-align: center;
  padding: 3% 15% 7%;
}

.contact-link {
  padding: 2%;
  color: grey;
}

.contact-link:hover {
  padding: 2%;
  color: #000;
}

.p-footer {
  padding: 5%;
}
